spring:
  config:
    import: ""

logging:
  level:
    root: INFO
    org.springframework.security: INFO
    com.yamar: DEBUG

management:
  otlp:
    tracing:
      export:
        enabled: false
    metrics:
      export:
        enabled: false

  tracing:
    enabled: false