spring:
  datasource:
    url: jdbc:mysql://localhost:3312/inventory

  config:
    import: "optional:file:services/env.properties"

management:
  otlp:
    tracing:
      endpoint: http://localhost:4318/v1/traces
    metrics:
      export:
        url: http://localhost:4318/v1/metrics
        step: 10s