global:
  storageClass: "standard"
  security:
    allowInsecureImages: true

controller:
  replicaCount: 1
  controllerOnly: false
  
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      memory: 1Gi
  
  heapOpts: -Xmx1024m -Xms1024m
  
  overrideConfiguration:
    offsets.topic.replication.factor: "1"
    transaction.state.log.replication.factor: "1"
    transaction.state.log.min.isr: "1"
    default.replication.factor: "1"
    min.insync.replicas: "1"
    group.initial.rebalance.delay.ms: "0"

kraft:
  enabled: true

listeners:
  client:
    protocol: PLAINTEXT
  controller:
    protocol: PLAINTEXT
  interbroker:
    protocol: PLAINTEXT

service:
  type: ClusterIP

persistence:
  enabled: true
  size: 8Gi

image:
  registry: registry-1.docker.io
  repository: bitnamilegacy/kafka
  tag: latest