global:
  security:
    allowInsecureImages: true

image:
  registry: registry-1.docker.io
  repository: bitnamilegacy/schema-registry
  tag: latest

kafka:
  enabled: false

externalKafka:
  brokers:
    - PLAINTEXT://kafka:9092

persistence:
  enabled: false

extraEnvVars:
  - name: SCHEMA_REGISTRY_KAFKASTORE_TOPIC_REPLICATION_FACTOR
    value: "1"
  - name: SCHEMA_REGISTRY_DEBUG
    value: "true"

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    memory: 1Gi