server:
  port: 8041
  servlet:
    context-path: /api/v1

spring:
  application:
    name: product-service

  data:
    mongodb:
      username: derain
      password: derain
      host: localhost
      port: 27020
      database: product
      authentication-database: admin

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9099/realms/derain-yamar

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
  show-actuator: true



