server:
  port: 8041
  servlet:
    context-path: /api/v1

spring:
  application:
    name: product-service

  profiles:
    active: local

  data:
    mongodb:
      database: product
      authentication-database: admin
      host: ${MONGO_HOST:mongodb}
      port: ${MONGO_PORT:27017}
      username: ${MONGO_USER:derain}
      password: ${MONGO_PASSWORD:derain}

  elasticsearch:
    uris: ${ELASTIC_URL:http://elasticsearch:9200}
    socket-timeout: 60s
    connection-timeout: 10s

  kafka:
    bootstrap-servers: ${KAFKA_SERVERS:kafka:9092}

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      properties:
        schema.registry.url: ${SCHEMA_REGISTRY_URL:http://schema-registry:8081}
        value.subject.name.strategy: io.confluent.kafka.serializers.subject.TopicRecordNameStrategy
        acks: all
        retries: 3

    consumer:
      group-id: product-search-indexer-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      properties:
        schema.registry.url: ${SCHEMA_REGISTRY_URL:http://schema-registry:8081}
        specific.avro.reader: true
        value.subject.name.strategy: io.confluent.kafka.serializers.subject.TopicRecordNameStrategy

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH0_ISSUER_URI:https://REPLACE_WITH_YOUR_DOMAIN.auth0.com/}

application:
  config:
    kafka:
      topics:
        product-events: "product.events.v1"
      consumer-groups:
        product-search: "product-search-indexer-group"

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
  show-actuator: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: http://otel-collector:4318/v1/traces
    metrics:
      export:
        url: http://otel-collector:4318/v1/metrics
        step: 30s


