server:
  port: 8041
  servlet:
    context-path: /api/v1

spring:
  application:
    name: product-service

  profiles:
    active: local

  data:
    mongodb:
      username: derain
      password: derain
      database: product
      authentication-database: admin

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH0_ISSUER_URI:https://REPLACE_WITH_YOUR_DOMAIN.auth0.com/}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
  show-actuator: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true



