apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "yamar-service.fullname" . }}
  labels:
    {{- include "yamar-service.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "yamar-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "yamar-service.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          envFrom:
            - configMapRef:
                name: {{ include "yamar-service.fullname" . }}
          env:
            {{- range .Values.secretEnv }}
            - name: {{ .name }}
              valueFrom:
                secretKeyRef:
                  name: yamar-secrets
                  key: {{ .secretKey }}
            {{- end }}
          livenessProbe:
            httpGet:
              path: {{ .Values.contextPath }}/actuator/health/liveness
              port: http
            initialDelaySeconds: 180
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: {{ .Values.contextPath }}/actuator/health/readiness
              port: http
            initialDelaySeconds: 120
            periodSeconds: 20
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
