apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  labels:
    app: inventory-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
        - name: inventory-service
          image: yamar-inventory-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8043
          envFrom:
            - configMapRef:
                name: inventory-config
          env:
            # -----------------------------------------------------------------
            # SECURITY INJECTION
            # -----------------------------------------------------------------
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: yamar-secrets
                  key: mysql-root-password
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8043
            initialDelaySeconds: 15
            periodSeconds: 15