server:
  port: 8042
  servlet:
    context-path: /api/v1

spring:
  application:
    name: order-service

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  datasource:
    url: jdbc:mysql://localhost:3312/orders
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9099/realms/derain-yamar

  kafka:
    bootstrap-servers: localhost:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      properties:
        schema.registry.url: http://localhost:8084
        auto.register.schemas: true
        acks: all
        enable.idempotence: true

application:
  config:
    inventory-service:
      url: http://localhost:8043/api/v1/inventory
    product-service:
      url: http://localhost:8041/api/v1/products

    kafka:
      topics:
        orders: "orders.v1"

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
  show-actuator: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true