server:
  port: 8042
  servlet:
    context-path: /api/v1

spring:
  application:
    name: order-service

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  datasource:
    url: jdbc:mysql://localhost:3312/orders
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9099/realms/derain-yamar

application:
  config:
    inventory-service:
      url: http://localhost:8043/api/v1/inventory
    product-service:
      url: http://localhost:8041/api/v1/products

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
  show-actuator: true
